#gallery
    color: #fff
    font-family: 'Roboto', sans-serif
    background-color: #030303
    padding-top: 75px
    .gallery
        &__title
            margin-bottom: 75px
        &__img
            display: inline-block
            margin-bottom: 24px
            &:nth-child(1), &:nth-child(11)              
                margin-top: 50px
    .picture-container
        height: 2200px
        overflow-y: hidden 
        &-inner
            columns: 3 456px
            column-gap: 36px
                
                
                
