.swiper 
    width: 100%
    height: 100%
    &-pagination
        position: relative
        align-items: center
        &-bullet
            width: 16px
            height: 16px
            border-radius: 0
            background: #FFFFFF
            opacity: 100
            color: #fff
            margin-right: 25px !important
            @media screen and (max-width: 600px)
                margin-right: 10px !important
            &:last-child
                margin-right: 0  !important
            &-active
                background-color: #D2B183
            &:hover
                background-color: #9D8665
            @media screen and (max-width: 1025px)
                width: 12px
                height: 12px
            @media screen and (max-width: 520px)
                width: 7px
                height: 7px
    &-slide
        img
            width: 100%
            height: 100%
            object-fit: cover

.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet 
    margin: 0
.swiper-pagination-bullets.swiper-pagination-horizontal
    bottom: 0